- if notice
  %p#notice.alert-success= notice

%p
  %b Username:
  = @user.login
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

= link_to 'Edit', profile_path
\|
= link_to 'Back', passages_path
