%h1 Listing passages

%table
  %tr
    %th Discovery
    %th Passage
    %th Text
    %th

  - @passages.each do |passage|
    %tr
      %td= passage.discovery
      %td= link_to passage.reference, passage
      %td= passage.text
      %td= link_to 'Destroy', passage, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Passage', new_passage_path
