%h1 Your verses

%table
  
  - previous = nil
  - @passages.each do |passage|
    - if passage.discovery != previous 
      %tr
        %th{:colspan => 4}= passage.discovery.to_s(:long)
        - previous = passage.discovery
    %tr
      %td= link_to 'X', passage, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this passage'
      /%td= passage.discovery
      %td.nowrap= link_to passage.reference, passage
      %td= passage.text

%br

= link_to 'New Passage', new_passage_path
