#page-header
  %h1 Your Verses

#passages-filter
  .navbar
    .navbar-inner
      %a.brand
        %small Filter by
      %ul.nav
        %li{class:@range == :thisweek && "active"}
          %a{:href => '/passages/thisweek'}
            This Week
        %li{class:@range == :thismonth && "active"}
          %a{:href => '/passages/thismonth'}
            This Month
        %li{class:@range == :all && "active"}
          %a{:href => passages_path}
            All Time
      /
        %li
          %form.navbar-search
            %input.search-query{:type => "text"}
            %button.btn{:type => "submit"}
              Search

= link_to 'New Passage', new_passage_path

%table
  
  - previous = nil
  - @passages.each do |passage|
    - if passage.discovery != previous 
      %tr
        %th{:colspan => 4}= passage.discovery.strftime("%B %-d, %Y, %A")
        - previous = passage.discovery
    %tr
      %td= link_to 'X', passage, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this passage'
      /%td= passage.discovery
      %td.nowrap= link_to passage.reference, passage
      %td= passage.text

%br

